---
import BaseLayout from '../layouts/BaseLayout.astro';
import Intro from '../components/Intro.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
---

<BaseLayout title="Adam Wozniak - Web Developer">
	<main class="wrapper">
		<Intro />
		<About />
		<Projects />
		<Contact />
	</main>
</BaseLayout>

