---

---

<div class="region flow">
  <p>
    I accidentally found my way into web development when I tried to create a
    new portfolio site for my creative work&mdash;I didn't realise at the time,
    but my journey actually began much earlier, when my software-engineer-Dad
    taught me a simple 'hello world' program in BASIC on his old Amstrad
    computer as a child! Fast-forward to now, I've studied web development in a
    bootcamp, completed a frontend development internship, and worked my way
    through a full-stack JavaScript course online.
  </p>
  <h3>Here's some of the skills and tech I use</h3>

  <ul class="cluster tags text-moss" role="list">
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>ReactJS</li>
    <li>NodeJS</li>
    <li>ExpressJS</li>
    <li>NextJS</li>
    <li>AstroJS</li>
    <li>MongoDB</li>
    <li>PostgreSQL</li>
    <li>Tailwind</li>
    <li>SASS</li>
    <li>Vite</li>
    <li>Jest</li>
    <li>Cypress</li>
    <li>Git</li>
    <li>Docker</li>
  </ul>
</div>
