---

---

<section id='contact' class='region contact flow'>
  <h2 class='display'>
    Want to say hello? <br />Get in <span class='text-moss'>contact</span>
  </h2>
  <p class='text-lg'>
    I'm currently looking for new opportunities&mdash;whether it's frontend,
    full-stack, or software engineering&mdash;count me in!
  </p>
  <ul class='font-bold text-l' role='list'>
    <li>
      <a href='https://github.com/adamwozhere' target='_blank' rel='noreferrer'
        >GitHub</a
      >
    </li>
    <li>
      <a
        href='https://www.linkedin.com/in/adamwoz'
        target='_blank'
        rel='noreferrer'>LinkedIn</a
      >
    </li>
    <li>
      <a href='/cv.pdf' target='_blank' rel='noreferrer'>View CV</a>
    </li>
    <li>
      <a href='mailto:adamwozhere@gmail.com' target='_blank' rel='noreferrer'
        >adamwozhere@gmail.com</a
      >
    </li>
  </ul>
</section>
