---

---

<section id="intro" class="region intro">
  <svg
    id="logo"
    role="img"
    class="origin-top-left"
    width="128"
    height="128"
    viewBox="0 0 128 128"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M54.4134 66.1774C59.3543 58.0626 64.1706 50.5507 68.0182 45.0387C71.3227 66.9143 75.269 82.2094 77.3086 101.096C77.572 103.539 79.4144 104.86 81.2828 104.901C83.3015 104.944 85.2364 103.595 85.4254 100.946C85.4254 100.945 85.4254 100.945 85.4256 100.945C85.8804 94.5459 88.3838 77.8568 91.9179 61.4799C94.5322 71.0067 98.5559 83.771 104.155 98.2082C104.658 99.5029 104.928 100.281 105.024 100.47C105.396 101.199 105.818 101.578 106.069 101.786C107.062 102.611 108.041 102.731 108.84 102.657C109.219 102.622 112.688 101.972 112.4 97.9609C112.196 95.1275 109.358 70.8334 126.593 5.20681C126.918 3.96909 127.359 2.62387 128 0H5.85776C2.62287 0 0 2.7578 0 6.16041V121.839C0 125.243 2.62287 128 5.85776 128H77.3086C76.0864 125.415 75.0882 123.365 74.4993 122.091C68.6859 109.51 61.1425 90.7133 54.4134 66.1774ZM7.82002 8.22406H117.709C109.549 40.3034 106.28 62.961 105.049 77.5609C99.54 61.1621 96.637 48.9181 96.0068 44.4884C96.0066 44.4876 96.0064 44.4867 96.0064 44.4859C95.3559 39.9337 89.2712 39.5174 88.0706 43.949L88.0704 43.9492C85.42 53.735 83.0626 65.0341 81.2551 75.1234C79.0742 63.2307 76.567 50.8343 74.4941 34.8886C74.4941 34.8874 74.4939 34.8862 74.4937 34.8853C74.2638 33.1269 73.2526 32.0687 72.0777 31.5369C70.6926 30.9101 68.7445 31.0713 67.4097 32.6221C63.9814 36.6035 58.0925 45.2621 51.6455 55.5584C49.6002 47.2772 47.6724 38.4275 45.9428 29.0233C45.1305 24.5948 39.3654 24.2271 38.0561 28.5197C36.5136 33.5694 24.7824 68.571 24.1197 103.623C24.1026 104.465 24.5921 107.565 27.8279 107.838C29.984 108.025 31.9591 106.778 32.9363 104.741L32.9361 104.742C36.8264 96.6321 42.697 85.9604 48.8761 75.434C54.2315 93.7284 59.9304 108.58 64.8133 119.776H7.82002V8.22406ZM41.2318 45.3682C38.3392 55.9353 34.784 71.0735 33.0178 87.3618C36.9289 80.1705 41.4338 72.3486 45.9326 64.8733C44.2976 58.7074 42.7184 52.204 41.2318 45.3682Z"
    ></path>
  </svg>

  <div>
    <h1 id="lead">
      Hi, I'm <span class="text-moss">Adam Wozniak,</span> a
      <span class="text-firecracker">web developer</span> with a background in
      <span class="text-smoke">motion graphics.</span> Check out my
      <a href="#projects" class="text-firecracker">projects</a> and say
      <a href="#contact" class="text-moss">hello</a><span class="text-moss"
        >.</span
      >
    </h1>
    <div class="cluster socials">
      <a
        href="https://github.com/adamwozhere"
        target="_blank"
        rel="noreferrer"
        data-color="firecracker"
        title="GitHub"
        aria-label="GitHub"
      >
        <span class="visually-hidden">Github</span>
        <svg
          width="36"
          height="36"
          fill="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          ><path
            d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
          ></path></svg
        >
      </a>
      <a
        href="https://www.linkedin.com/in/adamwoz"
        target="_blank"
        rel="noreferrer"
        data-color="moss"
        title="LinkedIn"
        aria-label="LinkedIn"
      >
        <span class="visually-hidden">LinkedIn</span>
        <svg
          width="36"
          height="36"
          fill="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          ><path
            d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"
          ></path></svg
        >
      </a>
    </div>
  </div>
</section>
