.contact {
  margin-bottom: var(--space-3xl);
}

.contact a {
  transition: color 150ms ease, text-decoration-color 150ms ease;
  /* transition: text-decoration-color 150ms ease; */
}

.contact a:hover {
  color: var(--moss);
  text-decoration-color: transparent;
}
